<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194092432593-qhgrqar3b8arepflim37pc08nj9t5tdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194092432593-qhgrqar3b8arepflim37pc08nj9t5tdm</string>
	<key>API_KEY</key>
	<string>AIzaSyB1agtQIBWqnyUoiXxTXQt9OOipCAudWXE</string>
	<key>GCM_SENDER_ID</key>
	<string>194092432593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.edu.ittepic.damU4Proyecto1</string>
	<key>PROJECT_ID</key>
	<string>dam-u4-autos-ittepic</string>
	<key>STORAGE_BUCKET</key>
	<string>dam-u4-autos-ittepic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194092432593:ios:7221d128d3cf96048dd9f0</string>
</dict>
</plist>